body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 100vh;
}

#game-container {
    position: relative;
}

canvas {
    background-color: #444;
    border: 2px solid white;
}
